
<div class="accordion accordion-flush" id="release_notes_accordion">
    
    {% for release_note in site.posts %}
    
    <div class="accordion-item">
        
            <button class="accordion-button collapsed list-group-item w-100 shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#{{ release_note.name }}" aria-expanded="false" aria-controls="{{ release_note.name }}">
                <div class="d-flex w-100">
                    <h4 class="accordion-header flex-grow m-0" id="flush-headingOne">
                        {{ release_note.title }}
                    </h4>
                    <small class="text-right flex-fill">
                        {{  release_note.date | date_to_string: "ordinal", "US" }}
                    </small>
                </div>
                <hr class="mx-0">
                <div class="w-100">
                    <h6 class="text-left py-2">
                        {{ release_note.summary }}
                    </h6>
                </div>            
            </button>

        <div id="{{ release_note.name }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#release_notes_accordion">
            <div class="accordion-body p-3 bg-light">
                {{ release_note.content }}
            </div>
        </div>
    </div>

    {% endfor %}

</div>